.App {
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto 0; 
  box-shadow: rgba(0, 0, 0, 0.25) 5px 9px 15px; 
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: rgb(219, 223, 222);
}

.sub-block {
  display: flex;
  align-items: center;
  justify-content: center;
}